
/*Global Styles*/
body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

/*Header Section Styles*/
.header-image {
    box-sizing: content-box;
    background-image: url("images/desktop/image-header.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 170px;
}

.navbar {
    padding: 34px 40px;
}

.nav-item {
    margin: auto auto auto 0;
    padding-left: 30px;
}
.nav-link {
    margin: auto;
    padding: 0;
    color: white;
}

.big-button {
    background-color: #FFF;
    height: 56px;
    border-radius: 28px;
    width: 140px;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.11px;
    line-height: 56px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.big-button-text {
    display: inline-flex;
    align-items: center;
}

.container-fluid {
    padding: 0;
    height: 56px;
}

.header-title {
    margin-top: 71px;
    font-family: 'Fraunces', serif;
    font-size: 56px;
    letter-spacing: 9px;
    line-height: 69px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.header-icon {
    height: 110px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*Intro Section Styles*/

/*Services Section Styles*/

/*Testimonial Section Styles*/

/*Footer Section Styles*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
